<h1 class="text-center">Contato</h1>
<p>
	{{mensagem.texto}}
</p>
<form>
	<div class="form-group">
		<label for="nome">Nome completo</label>
		<input type="text" class="form-control" id="nome" name="nome" required ng-model="contato.nome">
	</div>
	<div lass="form-group">
		<label for="email">Email</label>
		<div class="input-group">
            <span class="input-group-addon">@</span>
			<input type="text" class="form-control" placeholder="email@exemplo.com" id="nome" name="nome" required ng-model="contato.email">
		</div>
	</div>
	<div>
		<button type="submit" class="btn btn-primary">
            Salvar
        </button>
		<a href="#/" class="btn btn-default"> Voltar</a>
	</div>
</form>